<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../common/css/common.css" />
		<link rel="stylesheet" href="bootstrap-select.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<section id="summary">
					<h2>概览</h2>
					<p>bootstrap-select是一个基于bootstrap开发的下拉框框架，项目地址：<a href="http://silviomoreto.github.io/bootstrap-select/" target="_blank">链接</a>。</p>
					<h2>库引入</h2>
					<p>引入库文件之前，必须先引入jquery和bootstrap，且Jquery需优先加载，才能正常使用。</p>
					<pre class="prettyprint linenums lang-html">
<!--开发中，以实际路径为主-->
<link rel="stylesheet" href="bootstrap-select.min.css" />
<script type="text/javascript" src="bootstrap-select.min.js" ></script>
</pre>
					<h2>实例</h2>
					<div class="bs-example">
						<div class="row">
							<div class="col-xs-6">
								<select id="selectUser" class="selectpicker" data-width="100%" title="单选框">
								  <option>Mustard</option>
								  <option>Ketchup</option>
								  <option>Relish</option>
								</select>
							</div>
							<div class="col-xs-6">
								<select id="selectUsers" class="selectpicker" multiple data-width="100%" title="多选框">
								  <option>Mustard</option>
								  <option>Ketchup</option>
								  <option>Relish</option>
								</select>
							</div>
						</div>
					</div>
					    <pre class="prettyprint linenums lang-html">
<!--单选框-->
<select id="selectUser" class="selectpicker" data-width="100%" title="单选框">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
</select>

<script>
$('#selectUser').selectpicker('val', 'Mustard');
</script>

<!--多选框-->
<select id="selectUsers" class="selectpicker" multiple data-width="100%" title="多选框">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
</select>

<script>
$('#selectUsers').selectpicker('val', ['Mustard','Relish']);
</script>

</pre>
					<h2>API文档</h2>
					<p><h4>更多信息，访问<a href="http://silviomoreto.github.io/bootstrap-select/methods/" target="_blank">官方API地址</a></h4></p>
				</section>
			</div>
		</div>
		<script type="text/javascript" src="../common/js/common.js" ></script>
		<script type="text/javascript" src="../common/boostrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="bootstrap-select.min.js" ></script>
		<script>
			$(function(){
				var prettyHtml = $(".lang-html");
				for (var i=0;i < prettyHtml.length; i++) {
					var content = $(prettyHtml[i]).html();
					$(prettyHtml[i]).html(content.replace(/</g,"&lt;").replace(/>/g,"&gt;"));
				}
				window.prettyPrint && prettyPrint();
			});
		</script>
	</body>
</html>
