<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../common/css/common.css" />
		<link rel="stylesheet" href="css/dataTables.bootstrap.min.css" />
		<script type="text/javascript" src="../common/js/common.js" ></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<section id="summary">
					<h2>概览</h2>
					<p>dataTables是基于boostrap开发的一个表格开源插件，项目地址：<a href="http://www.datatables.club/" target="_blank">链接</a>。</p>
					<h2>库引入</h2>
					<p>引入库文件之前，必须先引入jquery和bootstrap，且Jquery需优先加载，才能正常使用。</p>
					<pre class="prettyprint linenums lang-html">
<!--开发中，以实际路径为主-->
<link rel="stylesheet" href="css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js" ></script>
</pre>
					<div class="bs-example">
						<table id="tableludan" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
							<thead style="background-color: #e8f7ff;">
								<tr>
									<th style="text-align: center;">序列号</th>
									<th style="text-align: center;">投保人姓名</th>
									<th style="text-align: center;">证件类型</th>
									<th style="text-align: center;">证件号码</th>
									<th style="text-align: center;">联系方式</th>
									<th style="text-align: center;">被保人姓名</th>
									<th style="text-align: center;">证件类型</th>
									<th style="text-align: center;">证件号码</th>
									<th style="text-align: center;">联系方式</th>
								</tr>
							</thead>
						</table>
					</div>
<pre class="prettyprint linenums lang-html">
<!--HTML表格头部-->
<table id="tableludan" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
    <thead style="background-color: #e8f7ff;">
        <tr>
            <th style="text-align: center;">序列号</th>
            <th style="text-align: center;">投保人姓名</th>
            <th style="text-align: center;">证件类型</th>
            <th style="text-align: center;">证件号码</th>
            <th style="text-align: center;">联系方式</th>
            <th style="text-align: center;">被保人姓名</th>
            <th style="text-align: center;">证件类型</th>
            <th style="text-align: center;">证件号码</th>
            <th style="text-align: center;">联系方式</th>
        </tr>
    </thead>
</table>

......

<script>
function initGridTable(){	 
var lang = {
    "sProcessing": "处理中...",
    "sLengthMenu": "每页 _MENU_ 项",
    "sZeroRecords": "没有匹配结果",
    "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
    "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
    //"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
    "sInfoPostFix": "",
    "sSearch": "搜索:",
    "sUrl": "",
    "sEmptyTable": "无数据",
    "sLoadingRecords": "载入中...",
    "sInfoThousands": ",",
    "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上一页",
        "sNext": "下一页",
        "sLast": "末页",
        "sJump": "跳转"
    },
    "oAria": {
        "sSortAscending": ": 以升序排列此列",
        "sSortDescending": ": 以降序排列此列"
    }
};	

var table = $("#tableludan").dataTable({
    language: lang, //提示信息
    autoWidth: true, //禁用自动调整列宽
    stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
    processing: true, //隐藏加载提示,自行处理
    serverSide: true, //启用服务器端分页
    searching: false, //禁用原生搜索
    bLengthChange:false,
    pageLength: 10,//设置分页数量
    orderMulti: true, //启用多列排序
    order: [], //取消默认排序查询,否则复选框一列会出现小箭头
    bSort: false,
    renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
    pagingType: "simple_numbers", //分页样式：simple,simple_numbers,full,full_numbers
    columnDefs: [{
        "targets": 'nosort', //列的样式名
        "orderable": false //包含上样式名‘nosort’的禁止排序
    }],
    ajax: function(data, callback, settings) {
        var param = {};//封装请求参数
        var returnData = {};//封装返回数据
        param.pageSize = data.length; //页面显示记录条数，在页面显示每页显示多少项的时候
        param.currentPage = (data.start / data.length) + 1; //当前页码
        //使用AJAX，调用服务接口
        //....
        //函数回调
        returnData.draw = data.draw; 
        returnData.recordsTotal = 0; 
        returnData.recordsFiltered = 0; 
        returnData.data = [];
        callback(returnData);
    },
    columns: [
        { "data": "id" },
        { "data": "policyName" },
        { "data": "policyIdtypeName"},
        { "data": "policyIdnum" },
        { "data": "policyMobile" },
        { "data": "insureName" },
        { "data": "insureIdtypeName"},
        { "data": "insureIdnum" },
        { "data": "insureMobile" }
    ]}).api();
}
</script>
</pre>
					<h2>API文档</h2>
					<p><h4>更多信息，访问<a href="http://www.datatables.club/reference/" target="_blank">官方API地址</a></h4></p>
				</section>
			</div>
		</div>
		<script type="text/javascript" src="../common/boostrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/jquery.dataTables.min.js" ></script>
		<script type="text/javascript" src="js/dataTables.bootstrap.min.js" ></script>
		<script>
			$(function(){
				var prettyHtml = $(".lang-html");
				for (var i=0;i < prettyHtml.length; i++) {
					var content = $(prettyHtml[i]).html();
					$(prettyHtml[i]).html(content.replace(/</g,"&lt;").replace(/>/g,"&gt;"));
				}
				window.prettyPrint && prettyPrint();
			});
		</script>
		<script>
				var data1 = [{id:1,policyName:"小林",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小林",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:2,policyName:"小李",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小李",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:3,policyName:"小张",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小张",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:4,policyName:"小刘",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小刘",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:5,policyName:"小廖",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小廖",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:6,policyName:"小林",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小林",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:7,policyName:"小李",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小李",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:8,policyName:"小张",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小张",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:9,policyName:"小刘",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小刘",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
		{id:10,policyName:"小廖",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小廖",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"}];
				var data2 = [{id:11,policyName:"小林",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小林",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:12,policyName:"小李",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小李",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:13,policyName:"小张",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小张",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:14,policyName:"小刘",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小刘",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:15,policyName:"小廖",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小廖",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:16,policyName:"小林",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小林",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:17,policyName:"小李",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小李",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:18,policyName:"小张",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小张",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:19,policyName:"小刘",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小刘",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"},
{id:20,policyName:"小廖",policyIdtypeName:"身份证",policyIdnum:"420117****110",policyMobile:"1888****88",insureName:"小廖",insureIdtypeName:"身份证",insureIdnum:"420117****110",insureMobile:"1888****88"}]
				
			function resetTable(){
				var dataTable = $('#tableludan').DataTable();
				dataTable.draw();
			}
			function initGridTable(){	 
				var lang = {
					"sProcessing": "处理中...",
					"sLengthMenu": "每页 _MENU_ 项",
					"sZeroRecords": "没有匹配结果",
					"sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
					"sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
	//					"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
					"sInfoPostFix": "",
					"sSearch": "搜索:",
					"sUrl": "",
					"sEmptyTable": "无数据",
					"sLoadingRecords": "载入中...",
					"sInfoThousands": ",",
					"oPaginate": {
						"sFirst": "首页",
						"sPrevious": "上一页",
						"sNext": "下一页",
						"sLast": "末页",
						"sJump": "跳转"
					},
					"oAria": {
						"sSortAscending": ": 以升序排列此列",
						"sSortDescending": ": 以降序排列此列"
					}
				};
			
			var table = $("#tableludan").dataTable({
				language: lang, //提示信息
				autoWidth: true, //禁用自动调整列宽
				stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
				processing: true, //隐藏加载提示,自行处理
				serverSide: true, //启用服务器端分页
				searching: false, //禁用原生搜索
				bLengthChange:false,
				pageLength: 10,//设置分页数量
				orderMulti: true, //启用多列排序
				order: [], //取消默认排序查询,否则复选框一列会出现小箭头
				bSort: false,
				renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
				pagingType: "simple_numbers", //分页样式：simple,simple_numbers,full,full_numbers
				columnDefs: [{
					"targets": 'nosort', //列的样式名
					"orderable": false //包含上样式名‘nosort’的禁止排序
				}],
				ajax: function(data, callback, settings) {
					var param = {};//封装请求参数
					var returnData = {};//封装返回数据
					param.pageSize = data.length; //页面显示记录条数，在页面显示每页显示多少项的时候
					param.currentPage = (data.start / data.length) + 1; //当前页码
					
					//后端调用接口
//					ajaxUrl("../insure/searchInfo", param, function(result) {
//						if("200" == result.code){
//							returnData.draw = data.draw; 
//							returnData.recordsTotal = result.addition; 
//							returnData.recordsFiltered = result.addition;
//							returnData.data = result.resultList; 
//						}else{
//							returnData.draw = data.draw; 
//							returnData.recordsTotal = 0; 
//							returnData.recordsFiltered = 0; 
//							returnData.data = [];  
//						}
//					}, function(data) {
//						returnData.draw = data.draw; 
//						returnData.recordsTotal = 5; 
//						returnData.recordsFiltered = 5; 
//						returnData.data = [{id:1,policyName:"张三",policyIdtypeName:"护照",policyIdnum:"E07289522",policyMobile:"1888****88",insureName:"张三",insureIdtypeName:"护照",insureIdnum:"E07289522",insureMobile:"1888****88"}];
//					});

						//模拟分页请求
						if(1 == param.currentPage){
							returnData.draw = data.draw; 
							returnData.recordsTotal = 20; 
							returnData.recordsFiltered = 20; 
							returnData.data = data1;
						}
						else if(2 == param.currentPage){
							returnData.draw = data.draw;
							returnData.recordsTotal = 20;
							returnData.recordsFiltered = 20;
							returnData.data = data2;
						}
					callback(returnData);
				},
				columns: [
					{ "data": "id" },
					{ "data": "policyName" },
					{ "data": "policyIdtypeName"},
					{ "data": "policyIdnum" },
					{ "data": "policyMobile" },
					{ "data": "insureName" },
					{ "data": "insureIdtypeName"},
					{ "data": "insureIdnum" },
					{ "data": "insureMobile" }
				]
			}).api();
        }
     	initGridTable();
		</script>
	</body>
</html>
