<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../common/css/common.css" />
		<link rel="stylesheet" href="bootstrap-datetimepicker.min.css" />
		<script type="text/javascript" src="../common/js/common.js" ></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<section>
					<h1>时间日期选择器</h1>
					<h2>概览</h2>
					<p>bootstrap-datetimepicker是基于boostrap开发的一个时间日期选择开源插件，项目地址：<a href="http://www.bootcss.com/p/bootstrap-datetimepicker/" target="_blank">链接</a>。</p>
					<h2>库引入</h2>
					<p>引入库文件之前，必须先引入jquery和bootstrap，且Jquery需优先加载，才能正常使用。</p>
					<pre class="prettyprint linenums lang-html">
<!--开发中，以实际路径为主-->
<link rel="stylesheet" href="bootstrap-datetimepicker.min.css" />
<script type="text/javascript" src="bootstrap-datetimepicker.min.js" ></script>
<script type="text/javascript" src="bootstrap-datetimepicker.zh-CN.js" ></script>
</pre>
					<h2>实例</h2>
					<div class="bs-example">
						<div class="row">
							<div class="col-xs-3">
								<p>日期组件</p>
								<div class="input-group date form_day">
		              				<input type="text" class="form-control" readonly placeholder="请选择日期">
								    <span class="input-group-addon" ><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
					</div>
					<pre class="prettyprint linenums lang-html">
<div class="input-group date form_day">
    <input type="text" class="form-control" readonly placeholder="请选择日期">
    <span class="input-group-addon" ><span class="glyphicon glyphicon-calendar"></span></span>
</div>

......

<script type="text/javascript">
$('.form_day').datetimepicker({
    minView: 'month', 
    format: 'yyyy-mm-dd',
    autoclose: true,
    language:'zh-CN',
    startView: 2,
    showMeridian: 1,
    pickerPosition: "bottom-right",
    todayBtn:true
}).on('changeDate',function(ev,s){
    //监听选择事件
});
</script>   
</pre>
					<div class="bs-example">
						<div class="row">
							<div class="col-xs-3">
								<p>时间组件</p>
								<div class="input-group date form_dateTime">
		              				<input type="text" class="form-control" readonly placeholder="请选择时间">
								    <span class="input-group-addon" ><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
							</div>
						</div>
					</div>
					<pre class="prettyprint linenums lang-html">
<div class="input-group date form_dateTime">
    <input type="text" class="form-control" readonly placeholder="请选择时间">
    <span class="input-group-addon" ><span class="glyphicon glyphicon-calendar"></span></span>
</div>

......

<script type="text/javascript">
$('.form_dateTime').datetimepicker({
    minView: 0, 
    format: 'yyyy-mm-dd hh:ii:ss',
    autoclose: true,
    language:'zh-CN',
    startView: 2,
    pickerPosition: "bottom-right",
    todayBtn:true
}).on('changeDate',function(ev,s){
    //监听选择结果
});
</script>   
</pre>
					<h2>API文档</h2>
					<p><h4>更多信息，访问<a href="http://www.bootcss.com/p/bootstrap-datetimepicker" target="_blank">官方API地址</a></h4></p>
				</section>
			</div>
		</div>
		<script type="text/javascript" src="bootstrap-datetimepicker.min.js" ></script>
		<script type="text/javascript" src="bootstrap-datetimepicker.zh-CN.js" ></script>
		<script>
			$(function(){
				var prettyHtml = $(".lang-html");
				for (var i=0;i < prettyHtml.length; i++) {
					var content = $(prettyHtml[i]).html();
					$(prettyHtml[i]).html(content.replace(/</g,"&lt;").replace(/>/g,"&gt;"));
				}
				window.prettyPrint && prettyPrint();
			    $('.form_day').datetimepicker({
		            minView: 'month', 
		            format: 'yyyy-mm-dd',
		            autoclose: true,
		            language:'zh-CN',
		    		startView: 2,
		            showMeridian: 1,
		            pickerPosition: "bottom-right",
		            todayBtn:true
		        }).on('changeDate',function(ev,s){
		        	//监听选择事件
		        });
		        
		        $('.form_dateTime').datetimepicker({
		            minView: 0, 
		            format: 'yyyy-mm-dd hh:ii:ss',
		            autoclose: true,
		            language:'zh-CN',
		    		startView: 2,
		            pickerPosition: "bottom-right",
		            todayBtn:true
		        }).on('changeDate',function(ev,s){
		        	//监听选择结果
		        });
			});
		</script>
	</body>
</html>
