<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../common/css/common.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<section id="summary">
					<h2>概览</h2>
					<p>本版本前端框架组件基于Bootstrap3选型，采用扁平化的风格，以库/框架选型为主，以满足小型项目的快速开发。</p>
					<h2>技术准备</h2>
					<p>需要掌握HTML、CSS、JavaScript等知识，以便开展工作。</p>
					<h2>文件下载</h2>
					<p><h4><a href="http://jquery.com/download/" target="_blank">下载Jquery</a></h4></p>
					<p><h4><a href="http://v3.bootcss.com/" target="_blank">下载Boostrap3</a></h4></p>
					<h2>标准规范</h2>
					<p>Bootstrap 使用到的某些 HTML 元素和 CSS 属性需要将页面设置为 HTML5 文档类型。在你项目中的每个页面都要参照下面的格式进行设置。</p>
					<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="zh-CN"&gt;
  ...
&lt;/html&gt;
</pre>
					<h2>安装方式</h2>
					<p>直接在HTML文件中引入相应的 CSS and JS 文件即可。</p>
					<pre class="prettyprint linenums lang-html">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
    &lt;title>demo&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;!-- Bootstrap --&gt;
    &lt;link href="../bootstrap.min.css" rel="stylesheet" media="screen"&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- jquery --&gt;
    &lt;script src="../jquery.js"&gt;&lt;/script&gt;
    &lt;!-- Bootstrap --&gt;
    &lt;script src="../bootstrap.min.js"&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
				<p><strong>设置成功!</strong> 加入这三个文件, 你就可以开始用Bootstrap开发任何网站和应用程序了。</p>
				
				</section>
			</div>
		</div>
		<script type="text/javascript" src="../common/js/common.js" ></script>
		<script>
			$(function(){
				window.prettyPrint && prettyPrint();
			});
		</script>
	</body>
</html>
