<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<style>
			.row{
				margin-top: 30px;
			}
			.errorDiv{
				display: none;
			}
		</style>
	</head>
	<body style="height: 100%;">
		<div class="container" style="height: 100%;padding-top: 4%;">
			<div class="row">
				<div class="col-xs-12" align="center">
					<h3>接口测试工具</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-1">
					<label style="margin-top: 5px;">接口地址</label>
				</div>
				<!--<div class="col-xs-2">
					<select class="form-control" id="urlType">
					  <option value="1">本地跨域</option>
					  <option value="2">远端API</option>
					</select>
				</div>-->
				<div class="col-xs-2">
					<select class="form-control" id="requestType">
					  <option value="1">post</option>
					  <option value="2">get</option>
					</select>
				</div>
				<div class="col-xs-8">
					<input id="urlInfo" type="text" placeholder="请输入URL地址" class="form-control">
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-primary" onclick="confrim()">确定</button>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6">
					<label id="roleInfoLabel">请求参数</label>
					<textarea id="request" type="text" placeholder="{userid:'xxx'}" class="form-control" rows="6"></textarea>
				</div>
				<div class="col-xs-6">
					<label id="roleInfoLabel">返回参数</label>
					<textarea id="response" type="text" placeholder="" class="form-control" rows="6"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-danger errorDiv" role="alert">
						<button type="button" id="myAlert" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<strong>错误提示：</strong> <span id="errorInfo"></span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js" ></script>
		<script>
			var urlError = "地址为不能为空！";
			var paramError = "请求参数不能为空!"
			var networkError = "网络服务器超时,请稍后再试！";
			function confrim(){
				var urlInfo  = $("#urlInfo").val().trim();
				var param = $("#request").val().trim();
//				var urlType = $("#urlType").val().trim();
				var reqType = $("#requestType").val().trim();
				if(!urlInfo){
					$("#errorInfo").html(urlError);
					$(".errorDiv").show();
					return false;
				}
				$("#response").val("");
				$(".errorDiv").hide();
				localAjax(urlInfo, param,reqType);
//				if(1 == urlType){
//					localAjax(urlInfo, param,reqType);
//				}else{
//					remoteAjax(urlInfo, param,reqType);
//				}
			};
			
			$('.errorDiv').on('click', function () {
			  $(".errorDiv").hide();
			});
			
			
			/**
			 * 本地跨域访问
			 * @param {Object} param
			 */
			function localAjax(urlInfo, param,reqType){
				if(2 == reqType){
					syncAjaxGet(urlInfo, param, function(data) {
						$("#response").val(data);
					}, function(data) {
						$("#errorInfo").html(data.statusText);
						$(".errorDiv").show();
					});
				}else{
					syncAjaxPost(urlInfo, param, function(data) {
						$("#response").val(data);
					}, function(data) {
						debugger;
						$("#errorInfo").html(data.statusText);
						$(".errorDiv").show();
					});
				}
			}
			
			
			/**
			 * 远端API访问
			 * @param {Object} param
			 */
//			function remoteAjax(urlInfo, param,reqType){
//				if(2 == reqType){
//					getJquery(urlInfo, param, function(data) {
//						$("#response").val(data);
//					});
//				}else{
//					postJquery(urlInfo, param, function(data) {
//						$("#response").val(data);
//					});
//				}
//			}
			
			
			/**
			 * 本地post同步调用
			 * @param {Object} dataUrl
			 * @param {Object} data
			 * @param {Object} success
			 * @param {Object} fail
			 */
			function syncAjaxGet(dataUrl, data, success, fail) {
				$.ajax({
					type:"get",
					url:dataUrl,
					data:data,
					xhrFields:{withCredentials:true},
					async:true,
					cache:false,
					success:success,
					error:fail
				});
				
			}
			
			/**
			 * 本地get同步调用
			 * @param {Object} dataUrl
			 * @param {Object} data
			 * @param {Object} success
			 * @param {Object} fail
			 */
			function syncAjaxPost(dataUrl, data, success, fail) {
				$.ajax({
					type:"post",
					url:dataUrl,
					data:data,
					xhrFields:{withCredentials:true},
					async:true,
					cache:false,
					success:success,
					error:fail
				});
				
			}
			
//			function postJquery(dataUrl, data, success) {
//				$.getJSON(dataUrl, data,success);
//			}
//			
//			function getJquery(dataUrl, data, success) {
//				 $.getJSON(dataUrl, data,success);
//			}
			
			document.onkeydown=function(event){
			    var e = event || window.event || arguments.callee.caller.arguments[0];
			    if(e && e.keyCode==13){ 
			    	var type = $("#pageType").val();
			    	confrim();
			    }
			};
		</script>
	</body>
</html>
